<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "./com/test/resources/testng-1.0.dtd">
<suite name="Swag Labs Test Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="login.ValidLogin" />
			<class name="login.InvalidLogin" />
			<class name="com.baseTest.SuperTestNG" />
		</classes>
	</test> <!-- Test -->
	<listeners>
		<listener class-name="io.qameta.allure.testng.AllureTestNg" />
	</listeners>
</suite> <!-- Suite -->
