<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "./com/test/resources/testng-1.0.dtd">
<suite name="FullSuite">
  <test thread-count="5" name="E2E_Test">
    <classes>
      <class name="checkoutFlow.CheckoutFlowTest"/>
      <class name="addToCart.AddProductToCartTest"/>
      <class name="login.InvalidLoginTest"/>
      <class name="login.ValidLoginTest"/>
    </classes>
  </test> <!-- E2E_Test -->
</suite> <!-- FullSuite -->
